.top10-section {
  padding: 40px 50px;

  background: #000;
}

.top10-section h2 {
  color: white;

  font-size: 32px;

  margin-bottom: 30px;
}

.top10-container {
  display: flex;

  gap: 25px;

  overflow-x: auto;

  padding-bottom: 20px;
}

.top10-card {
  display: flex;

  align-items: flex-end;

  min-width: 230px;

  position: relative;
}

.rank-number {
  font-size: 120px;

  font-weight: 900;

  color: white;

  line-height: 1;

  margin-right: -35px;

  z-index: 2;

  -webkit-text-stroke: 3px #000;
}

.top10-card .movie-card {
  width: 180px;
}

.top10-container::-webkit-scrollbar {
  height: 8px;
}

.top10-container::-webkit-scrollbar-thumb {
  background: #555;

  border-radius: 10px;
}
