.review-form{

margin-top:40px;

padding:30px;

background:#1f2937;

border-radius:16px;

color:white;

}


.review-form h2{

margin-bottom:20px;

}


.rating-stars{

display:flex;

gap:10px;

margin-bottom:20px;

}


.star{

font-size:28px;

cursor:pointer;

color:#555;

transition:.3s;

}


.star.active{

color:#FFD700;

}


.star:hover{

transform:scale(1.15);

}


.review-form textarea{

width:100%;

padding:15px;

border:none;

border-radius:10px;

resize:none;

margin-bottom:20px;

}



.review-form button{

padding:12px 30px;

border:none;

border-radius:8px;

background:#7c3aed;

color:white;

cursor:pointer;

font-size:16px;

}


.review-form button:hover{

background:#6d28d9;

}