.user-stats {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
}

.stat-card {
  background: #181818;

  padding: 30px 20px;

  border-radius: 20px;

  text-align: center;

  transition: 0.3s;

  border: 1px solid #333;
}

.stat-card:hover {
  transform: translateY(-8px);

  border-color: #e50914;
}

.stat-card h3 {
  font-size: 35px;

  margin-bottom: 15px;
}

.stat-card p {
  color: #aaa;
}

.stat-card span {
  font-size: 32px;

  font-weight: bold;
}

@media (max-width: 768px) {
  .user-stats {
    grid-template-columns: 1fr;
  }
}
