.loading-container{
    min-height:60vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    gap:20px;
}

.spinner{

    width:55px;

    height:55px;

    border:5px solid #334155;

    border-top:5px solid #7c3aed;

    border-radius:50%;

    animation:spin .8s linear infinite;

}

.loading-container p{

    color:white;

    font-size:18px;

}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}