.timeline{


border-left:2px solid #334155;

padding-left:25px;


}


.timeline-item{


position:relative;

margin-bottom:25px;


}



.dot{


position:absolute;

left:-34px;

top:5px;


width:15px;

height:15px;

border-radius:50%;

background:#7c3aed;


}



.timeline-item h4{


margin:0;

color:white;


}



.timeline-item p{


color:#94a3b8;


}