.trending-section {
  padding: 40px 60px;

  background: #0f0f0f;

  color: white;
}

.trending-section h2 {
  font-size: 28px;

  margin-bottom: 25px;
}

.swiper {
  padding-bottom: 30px;
}

.swiper-slide {
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.top10-section {
  padding: 40px 5%;
}

.top10-section h2 {
  font-size: 32px;

  margin-bottom: 25px;
}

.top10-container {
  display: flex;

  gap: 25px;

  overflow-x: auto;

  padding-bottom: 20px;
}

.top10-container::-webkit-scrollbar {
  display: none;
}

.top10-card {
  position: relative;

  min-width: 220px;

  cursor: pointer;

  transition: 0.3s;
}

.top10-card:hover {
  transform: scale(1.08);

  z-index: 5;
}

.top10-card img {
  width: 220px;

  height: 330px;

  object-fit: cover;

  border-radius: 12px;
}

.rank-number {
  position: absolute;

  bottom: 10px;

  left: -20px;

  font-size: 120px;

  font-weight: 900;

  color: white;

  z-index: 2;

  text-shadow: 0 0 10px black;
}

.top10-info {
  position: absolute;

  right: 0;

  bottom: 0;

  left: 0;

  padding: 15px;

  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));

  color: white;
}

.top10-info h3 {
  font-size: 18px;
}

.top10-info p {
  color: #ffd700;
}

@media (max-width: 768px) {
  .trending-section {
    padding: 30px 20px;
  }

  .trending-section h2 {
    font-size: 22px;
  }
}
